ion-button{
    color:white;
    --background: rgba(0, 0, 0, 0.288);
    height:120px;
    width:100%;
    --border-style:solid;
    --border-color:rgba(0, 0, 0, 0.479);
    --border-radius:none;
    font-size: 11px;
    text-align: start;
    font-family: Comic Sans MS ; 
}
#texte{
    text-align: center;
}
#texte h1{
    position: absolute;
    font-family: Palace Script MT ; 
    left: 0;
    right: 0;
    top: 2%;
    text-align: center;
    color: white;
    font-size: 60px;
    font-style: italic;
}

#texte strong {
    font-size: 12px;
    font-style: italic;
    font-family: Comic Sans MS;
    color: #000000;
    position: absolute;
    left: 0;
    right: 0;
    top: 24%;
  }

#texte p{
    font-size: 12px;
    font-style: italic;
    font-family: Comic Sans MS;
    color: #000000;
    position: absolute;
    left: 0;
    right: 0;
    top: 25%;
}

ion-grid{
    position: absolute;
    left: 0;
    right: 0;
    top: 45%;
}